<div class="row">
    <div class="container">
     
    <div class="logo">
            <img src="../../../assets/ArgProgLogo.png" alt="" id="ArgProgLogo">  
    </div>

    <div class="redes"> 
            <a href="https://github.com/AngLu90"><img src="../../../assets/GithubLogo.png" alt="" hspace="5" marginTop="100"></a>
            <a href="https://www.linkedin.com/in/luc%C3%ADa-soledad-angeloni-b905121b0/"><img src="../../../assets/LinkedinLogo.png" alt="" hspace="5" marginTop="100"></a>
            <a href="https://www.instagram.com/luangelonii/"><img src="../../../assets/InstagramLogo.png" alt="" hspace="5" marginTop="100"></a>
            <a href="https://twitter.com/LuAngelonii"><img src="../../../assets/TwitterLogo.png" alt="" hspace="5" marginTop="100"></a>
            <button type="button" class="btn btn-outline-secondary">Ingresar</button>
    </div>
    </div>
</div>


