<div class="row">
    <h1>PROYECTOS</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Porfolio Argentina Programa:</h2>
            <p>Y si mañana me espera otra mañana No es un problema, ya no cuentan las semanas  No me persigo
                Estoy saldando cuentas conmigo
                Hay un loco, hay siete perros, tengo tiempo para divagar
                Y si tengo alguna historia, tomo un vino con el mar</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 parte3 offset-md-1 parte2">
            <img src="../../../assets/ProyectoAP.PNG" alt="" id="Proyecto1" class="img-fluid">
        </div>
    </div>
</div>