    <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PerfilAP.jpg" id="PerfilAP" class="img-fluid" alt="">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <p id="nombre">{{persona.apellido}}, {{persona.nombre}}</p>
        <p id="descri">{{persona.descr}}</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
        <span>
            <h1 id="demi">ACERCA DE MI</h1>
            <p id="texto">{{persona.acerca}}</p>
        </span>
    </div>
    </div>