    <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PerfilAP.jpg" id="PerfilAP" class="img-fluid" alt="">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <p id="nombre">ANGELONI, Lucía Soledad</p>
        <p id="descri">Full Stack Developer - Estudiante</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
        <span>
            <h1 id="demi">ACERCA DE MI</h1>
            <p id="texto">Soy licenciada y profesora en Estadística, me gradué en la Universidad Nacional de Rosario en los años 2016 y 2020. Actualmente formo parte de la segunda cohorte de Argentina Programa, a través del cual me capacito en programación web full stack.</p>
        </span>
    </div>
    </div>