<div class="row">
    <h1>EDUCACION</h1>
    <div class="col-lg-11 "> </div>

<ul> 
    <li> <h2>educacion 1</h2> - <h3> Año </h3> </li>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         Quos eaque nostrum voluptas est ducimus hic. Incidunt, libero est voluptatibus,
        porro voluptatum eos consequuntur quas repudiandae aperiam nisi perspiciatis, 
        similique recusandae.
    </p>
</ul>
<ul> 
    <li> <h2>educacion 2</h2> - <h3> Año </h3> </li>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Quos eaque nostrum voluptas est ducimus hic. Incidunt, libero est voluptatibus,
        porro voluptatum eos consequuntur quas repudiandae aperiam nisi perspiciatis, 
        similique recusandae.
    </p>
 </ul>
 <ul> 
    <li> <h2>educacion 3</h2> - <h3> Año </h3> </li>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Quos eaque nostrum voluptas est ducimus hic. Incidunt, libero est voluptatibus,
        porro voluptatum eos consequuntur quas repudiandae aperiam nisi perspiciatis, 
        similique recusandae.
    </p>
 </ul>

</div>
